In [ ]:
# Glenda and Chris' Awesome Code!

In [ ]:
#added by glenda

In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

Store CSV files into dataframes

In [1]:
import pandas as pd
csv_file = "Resources/atlantic.csv"
atlantic_data_df = pd.read_csv(csv_file)
atlantic_data_df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [2]:
new_atlantic_data_df = atlantic_data_df[["ID","Name","Date","Time","Status","Latitude","Longitude","Maximum Wind","Minimum Pressure"]]
new_atlantic_data_df

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
0,AL011851,UNNAMED,18510625,0,HU,28.0N,94.8W,80,-999
1,AL011851,UNNAMED,18510625,600,HU,28.0N,95.4W,80,-999
2,AL011851,UNNAMED,18510625,1200,HU,28.0N,96.0W,80,-999
3,AL011851,UNNAMED,18510625,1800,HU,28.1N,96.5W,80,-999
4,AL011851,UNNAMED,18510625,2100,HU,28.2N,96.8W,80,-999
...,...,...,...,...,...,...,...,...,...
49100,AL122015,KATE,20151112,1200,EX,41.3N,50.4W,55,981
49101,AL122015,KATE,20151112,1800,EX,41.9N,49.9W,55,983
49102,AL122015,KATE,20151113,0,EX,41.5N,49.2W,50,985
49103,AL122015,KATE,20151113,600,EX,40.8N,47.5W,45,985
49104,AL122015,KATE,20151113,1200,EX,40.7N,45.4W,45,987

In [3]:
csv_file = "Resources/pacific.csv"
pacific_data_df = pd.read_csv(csv_file)
pacific_data_df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [4]:
new_pacific_data_df = pacific_data_df[["ID","Name","Date","Time","Status","Latitude","Longitude","Maximum Wind","Minimum Pressure"]]
new_pacific_data_df

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
0,EP011949,UNNAMED,19490611,0,TS,20.2N,106.3W,45,-999
1,EP011949,UNNAMED,19490611,600,TS,20.2N,106.4W,45,-999
2,EP011949,UNNAMED,19490611,1200,TS,20.2N,106.7W,45,-999
3,EP011949,UNNAMED,19490611,1800,TS,20.3N,107.7W,45,-999
4,EP011949,UNNAMED,19490612,0,TS,20.4N,108.6W,45,-999
...,...,...,...,...,...,...,...,...,...
26132,EP222015,SANDRA,20151128,1200,LO,21.7N,109.0W,35,1002
26133,EP222015,SANDRA,20151128,1800,LO,22.4N,108.7W,30,1007
26134,EP222015,SANDRA,20151129,0,LO,23.1N,108.3W,30,1008
26135,EP222015,SANDRA,20151129,600,LO,23.5N,107.9W,25,1009
26136,EP222015,SANDRA,20151129,1200,LO,24.2N,107.7W,20,1010

In [5]:
# combine atlantic and pacific data into a single dataframe
atlantic_and_pacific_data = pd.concat([new_atlantic_data_df, new_pacific_data_df])
atlantic_and_pacific_data

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
0,AL011851,UNNAMED,18510625,0,HU,28.0N,94.8W,80,-999
1,AL011851,UNNAMED,18510625,600,HU,28.0N,95.4W,80,-999
2,AL011851,UNNAMED,18510625,1200,HU,28.0N,96.0W,80,-999
3,AL011851,UNNAMED,18510625,1800,HU,28.1N,96.5W,80,-999
4,AL011851,UNNAMED,18510625,2100,HU,28.2N,96.8W,80,-999
...,...,...,...,...,...,...,...,...,...
26132,EP222015,SANDRA,20151128,1200,LO,21.7N,109.0W,35,1002
26133,EP222015,SANDRA,20151128,1800,LO,22.4N,108.7W,30,1007
26134,EP222015,SANDRA,20151129,0,LO,23.1N,108.3W,30,1008
26135,EP222015,SANDRA,20151129,600,LO,23.5N,107.9W,25,1009
26136,EP222015,SANDRA,20151129,1200,LO,24.2N,107.7W,20,1010

Data Transformation

In [6]:
atlantic_and_pacific_data.dtypes

ID                  object
Name                object
Date                 int64
Time                 int64
Status              object
Latitude            object
Longitude           object
Maximum Wind         int64
Minimum Pressure     int64
dtype: object

In [8]:
# filter data from the CSV files to shrink the data to process
# Date >= year 2000
atlantic_and_pacific_2020 = atlantic_and_pacific_data.loc[atlantic_and_pacific_data["Date"] >= 20000000, :]
# Maximum Wind >= 100
clean_atlantic_and_pacific_df = atlantic_and_pacific_2020.loc[atlantic_and_pacific_2020["Maximum Wind"] >= 100, :]
clean_atlantic_and_pacific_df

,ID,Name,Date,Time,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
41204,AL032000,ALBERTO,20000812,600,HU,35.1N,56.7W,100,960
41205,AL032000,ALBERTO,20000812,1200,HU,35.9N,55.3W,110,950
41206,AL032000,ALBERTO,20000812,1800,HU,36.8N,53.8W,110,954
41207,AL032000,ALBERTO,20000813,0,HU,37.4N,52.0W,105,958
41437,AL132000,ISAAC,20000924,0,HU,14.9N,35.0W,105,960
...,...,...,...,...,...,...,...,...,...
26122,EP222015,SANDRA,20151126,0,HU,13.3N,110.2W,110,957
26123,EP222015,SANDRA,20151126,600,HU,14.1N,110.2W,130,934
26124,EP222015,SANDRA,20151126,1200,HU,15.2N,110.2W,120,943
26125,EP222015,SANDRA,20151126,1800,HU,16.3N,110.2W,115,947
26126,EP222015,SANDRA,20151127,0,HU,17.4N,109.8W,110,951

In [ ]:
# convert latitude and longitude values to decimal format